@font-face {
    font-family: RobotoCondensed;
    src: url(assets/roboto-condensed.light.ttf);
    font-weight: 800;
  }
  
  @font-face {
    font-family: EconomicaBold;
    src: url(assets/economica-bold.ttf);
  }
  
  body {
    text-align: center;
    font-size: 20px !important;
    padding: 2.5%;
    font-family: 'RobotoCondensed' !important;
  }
  
  h1, h2, h3, h4, h5 {
    font-family: 'EconomicaBold' !important;
  }

  .track {
    width: 250px;
    height: 250px;
    position: relative;
    display: inline-block;
    cursor: pointer;
    margin: 20px;
  }

  .track-image {
    width: 250px;
    height: 250px;
  }

  .track-text {
    position: absolute;
    width: 250px;
    bottom: 0px;
    background-color: black;
    color: white;
    padding: 5px;
  }